OFTL_LOG_LEVEL="INFO"
OFTL_LOG_FORMAT="[%(asctime)s] %(levelname)s [%(name)s.%(funcName)s:%(lineno)d] %(message)s"

OFTL_POSTGRESDB_USERNAME= "admin"
OFTL_POSTGRESDB_PASSWORD = "[CHANGE ME]"
OFTL_POSTGRESDB_HOST    = "localhost"
OFTL_POSTGRESDB_PORT    = 5432
OFTL_POSTGRESDB_NAME    = "paytrace"

OFTL_RABITMQ_HOST = "localhost"
OFTL_RABITMQ_PORT = 5672
OFTL_RABITMQ_USERNAME = "guest"
OFTL_RABITMQ_PASSWORD_SECRET = "guest"
OFTL_RABITMQ_VHOST = "/"
OFTL_RABITMQ_HEARTBEAT = 60
OFTL_RABITMQ_BLOCKED_CONNECTION_TIMEOUT = 30
OFTL_RABITMQ_CONNECTION_ATTEMPTS = 3
OFTL_RABITMQ_CONN_RETRYCOUNT = 3
OFTL_RABITMQ_RETRY_DELAY = 2
OFTL_RABITMQ_SOCKET_TIMEOUT = 5
OFTL_RABITMQ_QUEUE_DURABLE = "true"
OFTL_RABITMQ_PREFETCH_COUNT = 1
OFTL_RABITMQ_DOEMSTIC_REQUEST_QUEUE = "CSV.PAYMENTS.DOMESTIC.REQ"
OFTL_RABITMQ_CROSS_BORDER_REQUEST_QUEUE = "CSV.PAYMENTS.CROSS_BORDER.REQ"
OFTL_RABITMQ_AUTOACK = "true"

OFTL_HTTPURL_ISO20022ADAP="http://localhost:8080/iso20022-adaptation-service/convert"
OFTL_HTTPURL_ISO20022TIMEOUT=5
OFTL_HTTP_AUTHORIZATION_SECRET="Bearer rnd-auth-example"
OFTL_HTTP_X_TRANSACTION_ID="txn-rnd-example"
OFTL_HTTP_X_CORRELATION_ID="corr-rnd-example"
OFTL_HTTP_IDEMPOTENCY_KEY="idem-rnd-example"
OFTL_HTTP_ACCEPT_LANGUAGE="en-US"
OFTL_HTTP_CONTENT_TYPE="application/xml"
